.pesquisa {
  width: 500px;
  max-width: 800px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-top: -15px;
  box-sizing: border-box;
}

.pesquisa input {
  flex: 1;
  min-width: 0;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

.pesquisa input::placeholder {
  color: #55556b;
}

.icone {
  font-size: 30px;
  margin-right: 10px;
  color: white;
  animation: procurar 2s infinite ease-in-out;
}
@keyframes procurar {
  0%, 100% {
    transform: translateX(0) rotate(0deg);
  }

  25% {
    transform: translateX(-3px) rotate(-10deg);
  }

  50% {
    transform: translateX(3px) rotate(10deg);
  }

  75% {
    transform: translateX(-2px) rotate(-5deg);
  }
}
